body, html {
  height: 100%;
  min-height: 100%;
  background: #f0f2f5;
}

.qz-wrapper {
  width: 100%;
}

.qz-wrapper .qz-step-container {
  text-align: center;
  position: relative;
  width: 100%;
}

.qz-wrapper .qz-step-container .qz-steps {
  margin: 0;
  padding: 0;
}

.qz-wrapper .qz-step-container .qz-steps li {
  width: calc(16.666666666666668%);
  color: #CDD0DC;
  line-height: 50px;
  display: inline-block;
  font-size: 14px;
  position: relative;
  height: 50px;
}

.qz-wrapper .qz-step-container .qz-steps li .icon-done {
  color: #fff;
  font-size: 18px;
  display: none;
}

.qz-wrapper .qz-step-container .qz-steps li:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  z-index: -2;
}

.qz-wrapper .qz-step-container .qz-steps li:last-child:after {
  content: '';
  width: 0;
}

.qz-wrapper .qz-step-container .qz-steps li.active {
  color: #3C6DB2;
  cursor: default;
}

.qz-wrapper .qz-step-container .qz-steps li.active:before {
  border: 2px solid #3C6DB2;
}

.qz-wrapper .qz-step-container .qz-steps li.done {
  color: #3C6DB2;
  cursor: default;
}

.qz-wrapper .qz-step-container .qz-steps li.done .icon-done {
  display: inherit;
}

.qz-wrapper .qz-step-container .qz-steps li.done .qz-step-text {
  display: none;
}

.qz-wrapper .qz-step-container .qz-steps li.done:before {
  background: #3C6DB2;
  border: 2px solid #3C6DB2;
}

.qz-wrapper .qz-step-container .qz-steps li.done:after {
  background: #3C6DB2;
}

.qz-wrapper .qz-step-container .qz-steps li.disabled {
  cursor: default;
}

.qz-wrapper .qz-step-container .qz-steps li.disabled:before {
  background: #EAECEF;
  border: 2px solid #E7E7E7;
}

.qz-wrapper .qz-step-container .qz-steps li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 16px;
  background: #ffffff;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto 5px auto;
  z-index: -1;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(10) {
  z-index: 10;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(9) {
  z-index: 9;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(8) {
  z-index: 8;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(7) {
  z-index: 7;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(6) {
  z-index: 6;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(5) {
  z-index: 5;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(4) {
  z-index: 4;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(3) {
  z-index: 3;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(2) {
  z-index: 2;
}

.qz-wrapper .qz-step-container .qz-steps li:nth-child(1) {
  z-index: 1;
}

.qz-wrapper .qz-content {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.qz-wrapper .qz-content .qz-title {
  text-align: center;
}

.qz-wrapper .qz-content .qz-item {
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: table;
}

.qz-wrapper .qz-content .qz-text {
  padding: 10px 10px 10px 20px;
  display: table-cell;
  vertical-align: middle;
}

.qz-wrapper .qz-content .qz-action {
  background: #F8F8F8;
  text-align: right;
  padding: 5px 20px 5px 5px;
  display: table-cell;
  vertical-align: middle;
  /* width: 100px; */
  width: 12em;
  border-left: 1px solid #A1A1A1;
}

.qz-wrapper .qz-content .qz-action .qz-radio {
  padding: 5px 5px 5px 10px;
  text-align: left;
  width: 100%;
}

